body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* background-color: white; */
}

.theme-toggle {
    /* position: fixed; */
    padding: 3px;
    
}

#theme-button {
    background-color: rgb(138, 80, 200);
}

.calculator {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.display {
    margin-bottom: 20px;
}

#result {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}